@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    font-family: "Ubuntu", sans-serif;
    display: grid;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;
    font-size: large;
}





