@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body{
    
    font-family: "Ubuntu", sans-serif;
    margin: 0px;
}

.container{
    width: 100%;
   background-color: #330033;
   background-image: linear-gradient(to right, #C7BED9 0%, #948AAC 100%);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.container p{
    position: absolute;
    bottom: 0;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: crimson;
    
}

.maxbox{
    display: flex;
    height: 70vh;
    text-align: center;
    justify-content: space-between;
    align-content: center;
  

}

@media screen and (max-width: 768px) {
    .maxbox{
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .areaONE{
        border-radius: 30px;
    }
    .areaSEC {
        border-radius: 30px;
    }
}
span{
    
    color: crimson;
}

.areaONE{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    background: #dbdced;
}
.areaONE .button{
    background-color: #232637 ;
    color: #fff;
}
.areaONE .inp{
    color: #232637;
}
.areaONE .tx{
    color: #232637;
}
.areaSEC{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
   
    background: #232637;

}
.areaSEC h1 {
    color: #fff;
}
.areaSEC .inp{
    color: #fff;
}
.areaSEC .tx{
    color: #fff;
}

.areaSEC .button {
    background-color: #dbdced;
    color: black;
}

.button{
    width: 110px;
    padding: 4px 0;
    margin-top: 10%;
    font-family: "Ubuntu", sans-serif;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}


.convert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}
.convert .tx{
    padding-top: 20px;
}


.input{
    
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    justify-content: center;

}
.input span{
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.inp{
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 20px;
    padding: 7px 0;
    text-align: center;
    background: transparent;
    transition:  0.2s;
  
}

.tx{
    width: 200px;
    height: 50px;
    font-size: 30px;
      
}


    
   
    









