@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body{
    
    font-family: "Ubuntu", sans-serif;
    margin: 0px;
}
.container{
   width: 100vw;
   height: 100vh;
   background-color: #330033;
   background-image: linear-gradient(to right, #C7BED9 0%, #948AAC 100%);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.maxbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 85%;
    background-image: linear-gradient(to right, #DBDCE0 50%, #232637 50%);
    border-radius: 30px;

}
span{
    color: crimson;
}

.box01{
    margin-left: 10%;
}
.box02{
    color: #fff;
    margin-right: 10%;
    
}









